services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=7549
      - POSTGRES_DB=AvitoPullRequest
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - avito-network
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/health"]
      interval: 10s
      timeout: 5s
      retries: 3

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      - POSTGRES_DB=AvitoPullRequest
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=7549
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./internal/migrations/up:/docker-entrypoint-initdb.d
    networks:
      - avito-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d AvitoPullRequest"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  postgres_data:

networks:
  avito-network: